{%extends 'principal.html'%}
{%block body%}



<div class="container">
<form method="POST">{%csrf_token%}
	{{f}}
	<button type="submit" class="btn btn-danger" >Guardar</button>
</form>


</div>
{%endblock body%}