{%extends 'principal.html'%}
{%block body%}


{% if not query %}
<form action="/materias/buscar/" method="GET">
    <label for="q">Search: </label>
    <input type="text" name="q" >
    <input type="submit" value="Search">
  </form>
{% endif %}
  

{% if query %}
    

    {% if results %}
      <ul>
      {% for c in results %}
        <td><a href="../crear_materia/?cedula={{c.cedula}}">crear materia</a></td>

      {% endfor %}
      </ul>
    {% else %}
      <p>No books found</p>

    {% endif %}
  {% endif %}
{%endblock body%}
#Para buscar del video de yputibe
asas
