{%extends 'principal.html'%}
{%block body%}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript">

$(document).ready(function(){
  

  $("input[name=nota3]").change(function(){
  var a=$("input[name=nota1]").val()*1;
  var b=$("input[name=nota2]").val()*1;
  var c=$("input[name=nota3]").val()*1;

   alert("generado");
   $("input[name=prom]").val((a+b+c)/3)
  });
  $("input[name=nota3]").blur(function(){
  
   if (($("input[name=prom]").val()) >= 7) {
   	$("input[name=estado]").val('Aprobado');
   }else{
   		$("input[name=estado]").val('Reprobado');
   }
  });
});

</script>


<div class="container">
<form method="POST">{%csrf_token%}
	{{f}}
	

	<button type="submit" class="btn btn-danger" >Guardar</button>
</form>


</div>
{%endblock body%}