{%block body%}


<div class="p-3 mb-2 bg-transparent text-dark">
<div class="container">
<h1>LISTA DE Materias</h1>
<table class="table table-sm">
    <tr>
        <th scope="col">Cedula</th>
        <th scope="col">Nombre</th>
        <th scope="col">Nota1</th>
        <th scope="col">Nota2</th>
        <th scope="col">Nota3</th>
        <th scope="col">Promedio</th>
        <th scope="col">Estado</th>
       
    </tr>
    {% for c in lista%} 
   
            
            <td>{{c.estudiante.cedula}}</td>
            <td>{{c.nombre}}</td>
            <td>{{c.nota1}}</td>
            <td>{{c.nota2}}</td>
            <td>{{c.nota3}}</td>
            <td>{{c.prom}}</td>
            <td>
               
                {{c.estado}}
             
            </td>
            

        </tr>
        
    {%endfor%}

</table>

</table>
{%endblock body%}